*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url("./pexels-esra-korkmaz-19408481.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    /* animation: animatebg 5s linear infinite; */
}
/* @keyframes animatebg {
    100%{
        filter: hue-rotate(360deg);
    }
} 
Currently not using animation purposefully.
*/
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
          /* top left */
    border-bottom: 1px solid white;
}
.input-box input{
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    outline: none;
    font-size: 1em;
    padding: 0 30px 0 5px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;  
}
.input-box input:focus ~label, .input-box input:valid ~label{
    top: -5px;
}
.remember-forget a{
    text-decoration: none;
    color: white;

}
.remember-forget a:hover{
    text-decoration: underline;
}
.remember-forget{
    margin: -15px 0 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: .9em;
}
.remember-forget label input{
    margin-right: 3px;

}
button{
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    font-size: 1em;
}
.register-link{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}
.register-link p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
